.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.cart-container h2{
    margin: 1rem 0;
}

.cart-container table{
    width: 100%;
    border-collapse: collapse;
}

.cart-container table thead tr th{
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.cart-container table tbody tr td img{
    width: 100px;
    height: 100px;
}
